.username {
    margin-top: 10 px;
    margin-bottom: 8px;
}

.text {
    margin-bottom: 8px;
}

.header {
    height: 60px;
    background-image: linear-gradient(to right, blue, green);
    color: white;
    text-align: left;
}

.groot {
    margin-top: 8px;
    margin-bottom: 20px;
}